/* Whole navbar*/
.navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 52px;
    left: 0px;
    right: 0px;
    background: #242D38;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}

/* Text in nav bar */
.nav-button, .user-button, .nav-classes, .user-button-visible{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

/* When user hover buttons, and classes button default color is white  */
.nav-button:hover, .user-text:hover, .nav-classes{
    color: #FFFFFF;
}

/* Left logo and buttons */
.logo{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 24px;
    top: 16px;
}

.logo:hover{
    opacity: 0.5;
}

.nav-menu{
    position: absolute;
    width: 172px;
    height: 20px;
    left: 60px;
    top: 16px;
    display: inline-flex;
}

.nav-button{
    margin-left: 17px;
    color: #A1A9B5;
}


/* Right user menu*/
.user-bar{
    position: absolute;
    width: 136px;
    height: 20px;
    right: 24px;
    top: 16px;
}

.user-button{
    text-align: left;
    height: 20px;
    display: flex;
}

.button-icon{
    margin-top: 2px;
    margin-left: 9px;
}

.button-icon:hover{
    /* filter: drop-shadow(0 0 0 #FFFFFF); */
}

.user-text{
    color: #A1A9B5;
}

.user-text-visible{
    color: #FFFFFF;
}