.dropdown{
    width: 162px;
    height: 128px;
    left: 882px;
    top: 44px;
    background: #FFFFFF;
    border: 1px solid #A1A9B5;
    border-radius: 3px;
}

.dropdown-button{
    height: 34px;
    width: 160px;
    background: #FFFFFF;
    border-radius: 3px;
}

.dropdown-button :hover{
    background: #EEEEEE;
}

.dropdown-button a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #242D38;
}

.divider{
    height: 1px;
    width: 160px;

    background: #A1A9B5;
}